.Title{
  background: #C2BBDD;
  height: 100px;
  display: flex;
  align-items: flex-end;
  border-radius: 6px;
  padding-bottom: 10px;
  padding: 20px;
}

.Steps{
  display: flex;
  gap: 20px;
}

.VacationBody{
  width: 100%;
}