.Header{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color:rgb(66, 66, 66);
  color: white;

  &Item{
    padding-right: 40px;
    cursor: pointer;
  }
}