.Task{
  display: flex;
  align-items: center;
  gap: 10px;
}

.Picture{
  background-image: url("./../../../assets/imgs/result.PNG");
  height: 280px;
  width: 470px;
  background-repeat: no-repeat;
  background-position: center;
}